{% load static %}

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>about</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

    * {
      background-color: rgb(0, 0, 0);
    }

    .px-3 {
      font-family: 'Krona One', sans-serif;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body class="h-100 text-center text-white">
  <div class=" d-flex w-100 h-100 flex-column">
    <header class="mb-auto"></header>

    <main class="px-3">
      <h1>About Crystal Gallery</h1>
      <br>
      <p class="lead">이곳에 당신의 작품을 마음껏 게시해보세요. 아마추어 작가들을 위한 경매페이지입니다.<br>
        당신의 작품을 평가받고 타인의 작품을 감상하며 자신만의 갤러리를 꾸며보세요.</p>
      <p class="lead">
        <a href="{% url 'main' %}" class="btn btn-secondary border-white bg-black">홈페이지로 이동</a>
      </p>
    </main>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">작품 제목 : painter</h2>
        <h3><span class="text-muted">작가 : painter</span></h3>
        <p class="lead"></p>
      </div>
      <div class="col-md-5">
        <img class="img-rectangle" src="{% static '수빈1.jpg' %}" alt="작품사진" width="500" height="400">
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <img class="img-rectangle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="작품사진"
          width="500" height="400">
      </div>
      <div class="col-md-5" style="text-align: right;">
        <h2 class="featurette-heading">작품제목2</h2>
        <h3><span class="text-muted">작가2</span></h3>
        <p class="lead">경매설명2</p>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">작품제목3</h2>
        <h3><span class="text-muted">작가3</span></h3>
        <p class="lead">경매설명3</p>
      </div>
      <div class="col-md-5">
        <img class="img-rectangle"
          src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="작품사진"
          width="500" height="400">
      </div>
    </div>
  </div>

</body>
