{% extends "base.html" %}
{% load static %}

{% block title %}
auctionArts
{% endblock title %}

{% block head %}
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

<style>
  .wrapper {
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .card .card-body {
    position: absolute;
    top: 200px;                           /* 기준 위치 보다 200px 아래로 */
    width: 400px;
    height: 300px;
    padding-top: 15%;
    background: rgba(0, 0, 0, 0.6);     /* 반투명한 검정 배경 */
    opacity: 0;                           /* 화면에 보이지 않게 */
    transition: all 0.6s ease-in-out;     /* 부드럽게 나타나도록 트랜지션 추가 */
    z-index: 10;                          /* 다른 요소보다 위에 있도록 */
    font-size: 20px;
  }

  .card #li {
    padding: 0;
    overflow: hidden;
    position: relative;
  }

  .card #li:hover .card-body {
    opacity: 1;                      /* 설명 글을 화면에 나타나게 */
    transform: translateY(-200px);   /* 설명 글을 위쪽으로 200px 이동 */
  }

  .card .card-body p {
    color: #fff;
    text-align: center;
  }

  #li {
    width: 400px;
    height: 300px;
  }


</style>
{% endblock head %}

<body>
  {% block content %}
  <div class="wrapper">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">현재 최고가 작품</h1>
          <img src="{{top1.listing.display_picture.url}}" style="max-width: 100%; height: auto;">
          <p class="lead text-muted">{{top1.listing.name}}</p>
          <p>시작가: {{top1.listing.initial}}</p>
          <p>현재가: 100.00 </p>
          <p>deadline: 2021-07-10</p>
          <p>
            {% if user.is_authenticated %}
            <a href="{% url 'auction' top1.listing.id %}" class="btn btn-secondary my-2">응찰</a>
            {% else %}
            <a href="{% url 'login'%}" class="btn btn-secondary my-2">응찰</a>
            {% endif %}
          </p>
        </div>
      </div>
    </section>

    <p>
      {% if user.is_authenticated %}
      <a href="{% url 'create' %}" class="btn btn-secondary my-2" style="margin-left: 10rem;">내 작품 등록하기</a>
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-secondary my-2" style="margin-left: 10rem;">내 작품 등록하기</a>
      {% endif %}
    </p>
    <br>

    <div class="album py-5">
      <div class="container">
        <div class="row ">
          {% for listing in listing.all %}
          <div class="col-md-4">
            <div class="card mb-4">
              <div id="li">
                <img src="{{listing.display_picture.url}}"
                  style="width : 400px; height : 300px; border : 20px ridge rgb(230, 230, 230);">
                <div class="card-body">
                  <p class="card-text">제목: {{listing.name}}</p>
                  <p class="card-text">시작가: {{listing.initial}}</p>
                  <p class="card-text">현재가: {{bid.highest_bid}}</p>
                  <p><small>deadline: 2021-07-10</small>
                    <a href="{% url 'auction' listing.id %}" class="btn btn-secondary">응찰</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
  {% endblock content %}
</body>
