{% load static %}

<!doctype html>
<html lang="en">

<head>
  <title>auctionArts</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
  <link href="main.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-light shadow-sm">
      <div class="container">
        <div class="navbar-header">
          <a href="{% url 'main' %}" class="navbar-brand">
            <strong>Crystal Gallery</strong>
          </a>
        </div>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          {% if user.is_authenticated %}
          <div class="me-3 py-2 text-dark text-decoration-none">
            Signed in as <strong style="color: var(--indigo)">{{ user.username }}</strong>
          </div>
          {% endif %}
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'mypage' %}">mypage</a>
          {% if user.is_authenticated %}
          <a class="me-3 py-2 text-dark text-decoration-none" href="{%url 'logout'%}">logout</a>
          {% else %}
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'login' %}">login</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'signup' %}">join</a>
          {% endif %}
      </div>
    </nav>
  </header>

  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">현재 최고가 작품</h1>
          <img src="{{top1.listing.display_picture.url}}}" style="max-width: 100%; height: auto;">
          <p class="lead text-muted">painter</p>
          <p>시작가: 100.00</p>
          <p>현재가: 100.00 </p>
          <p>deadline: 2021-07-10</p>
          <p>
            {% if user.is_authenticated %}
            <a href="{% url 'auction' top1.id %}" class="btn btn-secondary my-2">응찰</a>
            {% else %}
            <a href="{% url 'login'%}" class="btn btn-secondary my-2">응찰</a>
            {% endif %}
          </p>
        </div>
      </div>
    </section>

    <p>
      {% if user.is_authenticated %}
      <a href="{% url 'create' %}" class="btn btn-secondary my-2" style="margin-left: 10rem;">내 작품 등록하기</a>
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-secondary my-2" style="margin-left: 10rem;">내 작품 등록하기</a>
      {% endif %}
    </p>
    <br>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for listing in listing.all %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{listing.display_picture.url}}" height="300">
              <div class="card-body">
                <p class="card-text">제목: {{listing.name}}</p>
                <p class="card-text">시작가: {{listing.initial}}</p>
                <p class="card-text">현재가: {{listing.initial}}</p>
                <a href="{% url 'auction' listing.id %}" class="btn btn-secondary my-2">응찰</a>
                <small class="text-muted">deadline: 2021-07-10</small>
              </div>
            </div>
          </div>
          {% endfor %}
  </main>

  <footer class="footer">
    <div role="contentinfo">
      <div id="footcnt">
        <div class="TCIWe" style="height: 106px;" id="fbarcnt">
          <div class="fbar b2hzT">
            <hr>
            <center>
              <p> ㈜ Team TLC ™ </p>
              <small>_성신여자대학교 멋쟁이사자처럼 화요일사자_</small>
            </center>
          </div>

          <div class="fbar" style="background: silver;">
            <hr>
            <h5>
              <center>**Warning**</center>
            </h5>
            <p>
              <center>crystal gallery 경매 체험 사이트로, 각 작품의 저작권은 게재자에게 있습니다. 작가의 동의 없는 무단배포는 저작권법에 의해 법적 처벌을 받을 수 있습니다.</center>
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>