{% extends "base.html" %}
{% load static %}

{% block title %}
auction
{% endblock title %}

{% block head %}
<meta name="viewport" content="width=device-width,initial-scale=1">

<style>
  @font-face {
    font-family: 'IBMPlexSansKR-Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .wrapper {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'IBMPlexSansKR-Light';
  }

  #explain {
    font-size: 1.5vw;
  }

  .img{
    size : 2vw;
  }

  .btn {
    border-radius: 10rem;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1vw;
    background-color: rgb(91, 91, 91);
  }


</style>
{% endblock head %}

<body>
  {% block content %}
  <div class="wrapper">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 ">
          <img src="{{listings.display_picture.url}}" style="width: 100%; top :50%; object-fit: contain;">
        </div>

        <div class="col-md-6 p-4 bg-dark text-white border" id="explain">
          <p style="font-size: 2vw;">그림 제목 : {{listings.name}}</p>
          <p>그림 설명: {{listings.explain}}</p>
          <p>초기 가격: {{listings.initial}}</p>
          <p>현재 가격: {{bid.highest_bid}}
            <p> Auction ends in: {{ listings.time_ending }}</p>
            <br>

            <!--action url 수정-->
            <form class="login-form" action="{% url 'bid' %}" method="POST">
              {% csrf_token %}
              {% if request.user == listings.user %}
                <p>자신의 작품은 낙찰할 수 없습니다.</p>
              {% elif timegap >= 0 %}
                <p>이미 경매가 끝난 작품입니다.</p>
              {% elif request.user.coin < bid.highest_bid %}
                <p>코인이 부족합니다.</p>
              {% else %}
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">coin</div>
                </div>
                <!--defalut_bid 삭제-->

                <input class="form-control" type="number" min="1" name="new_highest_bid"
                  placeholder="응찰가는 현재가보다 높아야 합니다!">
              </div>
              <!--해당 bid&listing를 넘겨주는 name,value 수정-->
              <input name="listing_id" type="hidden" value="{{ listings.id }}" />
              <input name="bid_id" type="hidden" value="{{ bid.id }}" />
              <br>
              <!--a태그->버튼으로 수정-->
              <button type="submit" class="btn" type="submit" style="float: right;">응찰</button>
              {% endif %}
            </form>

        </div>

      </div>

    </div>


    <div class="container py-4 listing-comments" id="comment">
      <h5>Comments </h5>
      <div class="comment-container" style="color: rgb(255, 255, 255);">
        {% if comments %}
        {% for comment in comments %}
        <div class="card bg-dark" style="margin: 5px;">
          <div class="comment-owner ">
            {{ comment.user.username }}
          </div>
          <span class="comment-content">
            {{ comment.comment }}
          </span>
          <span class="text-muted" style="text-align: right; margin-right: 5px;">
            {{ comment.added }}
          </span>
        </div>
        {% endfor %}
        {% else %}
        <span class="text-muted">
          No comments at the moment
        </span>
        {% endif %}
      </div>
      <hr>
      <form class="comment-form" action="{% url 'comment' %}" method="POST">
        Your Comment:
        {% csrf_token %}
        <textarea name="content" class="form-control" placeholder="enter your comment here" rows="3"
          maxlength="400"></textarea>
        <input name="list_id" type="hidden" value="{{ listings.id }}">
        <br>
        <button class="btn btn-outline-secondary my-2" type="submit" style="float: right;">Comment</button>

      </form>
    </div>

  </div>
  {% endblock content %}
</body>