{% extends "base.html" %}
{% load static %}

{% block title %}
auction
{% endblock title %}

{% block head %}
<meta name="viewport" content="width=devive-width, initial-scale = 1">
<style>
  .wrapper {
    background-color: rgb(0, 0, 0);
    color: white;
  }

</style>

{% endblock head %}

<body>
  {% block content %}
  <div class="wrapper">

      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 ">
            <img src="{{listings.display_picture.url}}" style="max-width: 100%; top :50%; ">
          </div>

          <div class="col-md-6 p-4 bg-dark text-white border ">
            <h1 class="display-5 fw-bold">그림 제목 : {{listings.name}}</h1>
            <p class="fs-4">그림 설명: {{listings.explain}}</p>
            <p class="fs-4">초기 가격: {{listings.initial}}</p>
            <p class="fs-4">현재 가격: {{bid.highest_bid}}
            <p class="col-md-8 fs-4"> Auction ends in: {{ listings.time_ending }}</p>
              <br>
              <br>

              <form class="login-form" action="{% url 'auctionArts' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-warning">coin</div>
                  </div>
                  <input class="form-control" type="number" min="1" name="bid" value="{{ default_bid }}"
                    placeholder="Enter your coin here">
                </div>
                <input name="list_id" type="hidden" value="{{ listing.id }}" />
                <a href="{% url 'auctionArts' %}" class="btn btn-outline-secondary my-2" type="submit"
                  style="float: right;">입찰</a>
              </form>
          </div>

        </div>

      </div>
 

    <div class="container py-4 listing-comments" id="comment">
      <h5>Comments </h5>
      <div class="comment-container" style="color: black;">
        {% if comments %}
        {% for comment in comments %}
        <div class="card bg-light border-success" style="margin: 5px;">
          <div class="comment-owner ">
            {{ comment.user }}
          </div>
          <span class="comment-content">
            {{ comment.comment }}
          </span>
          <span class="text-muted" style="text-align: right; margin-right: 5px;">
            {{ comment.added }}
          </span>
        </div>
        {% endfor %}
        {% else %}
        <span class="text-muted">
          No comments at the moment
        </span>
        {% endif %}
      </div>
      <hr>
      <form class="comment-form" action="{% url 'comment' %}" method="POST">
        Your Comment:
        {% csrf_token %}
        <textarea name="content" class="form-control" placeholder="enter your comment here" rows="3"
          maxlength="400"></textarea>
        <input name="list_id" type="hidden" value="{{ listings.id }}" />
        <br>
        <button class="btn btn-outline-secondary my-2" type="submit" style="float: right;">Comment</button>

      </form>
    </div>

  </div>
  {% endblock content %}
</body>