{% extends "base.html" %}
{% load static %}

{% block title %}
auctionArts
{% endblock title %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="slide.css">
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="slide.js"></script>

<style>
  @font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .title {
    font-size: larger;
  }

  .wrapper {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'IBMPlexSansKR-Regular';
  }

  .btn {
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
  }
 
  #work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }

  #card .card-body {
    position: absolute;
    top: 200px;
    width: 300px;
    height: 200px;
    padding-top: 15%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all 0.6s ease-in-out;
    z-index: 10;
    font-size: 12px;
  }

  #card #li {
    padding: 0;
    overflow: hidden;
    position: relative;
  }

  #card #li:hover .card-body {
    opacity: 1;
    transform: translateY(-200px);
  }

  #card .card-body p {
    color: #fff;
    text-align: center;
  }

  #li {
    width: 300px;
    height: 200px;
  }

  .d-block {
    width: 100%;
    height: 30rem;
  }

  .featurette-heading {
    font-family: 'Krona One', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
  }

  .sub-text {
    font-size: 1.5rem;
    color: rgb(175, 175, 175);
    font-size: 1vw;
  }

  .d-block {
    max-width: 100%;
    object-fit: contain;
  }
  
  .carousel-caption{
    color: white;
    text-shadow: -1px 0 rgb(103, 103, 103), 0 1px rgb(103, 103, 103), 1px 0 rgb(103, 103, 103), 0 -1px rgb(103, 103, 103);
  }
</style>



{% endblock head %}

<body>
  {% block content %}
  <div class="wrapper">
    <div class="container">
      <section class="py-5">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="{% url 'auction' top1.listing.id %}">
                <img src="{{top1.listing.display_picture.url}}" class="d-block" alt="..."></a>
              <div class="carousel-caption d-none d-md-block">
                <h2><b>Top1</b></h2>
                <h4>{{top1.listing.title}}</h4>
                <h4>{{top1.listing.explain}}</h4>
              </div>
            </div>

            <div class="carousel-item">
              <a href="{% url 'auction' top2.listing.id %}">
                <img src="{{top2.listing.display_picture.url}}" class="d-block" alt="..."></a>
              <div class="carousel-caption d-none d-md-block">
                <h2><b>Top2</b></h2>
                <h4>{{top2.listing.title}}</h4>
                <h4>{{top2.listing.explain}}</h4>
              </div>
            </div>

            <div class="carousel-item">
              <a href="{% url 'auction' top3.listing.id %}">
                <img src="{{top3.listing.display_picture.url}}" class="d-block" alt="..."></a>
              <div class="carousel-caption d-none d-md-block">
                <h2><b>Top3</b></h2>
                <h4>{{top3.listing.title}}</h4>
                <h4>{{top3.listing.explain}}</h4>
              </div>
            </div>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <p style="text-align: center;">
        {% if user.is_authenticated %}
        <a href="{% url 'create' %}" class="btn btn-outline-secondary">내 작품 등록하기</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">내 작품 등록하기</a>
        {% endif %}
      </p>

      <div class="py-5">
            <div class="btn-group" role="group" aria-label="...">
              <form action="{%url 'auctionArts'%}" method="POST">
                  <button type="submit" class="btn btn-default underway_auction_view  btn-outline-secondary" name="bid" value="underway_bids">경매중</button>

                  <button type="submit" class="btn btn-default finished_auction_view  btn-outline-secondary" name="bid" value="finished_bids">경매 마감</button>
              </form>
            </div>
          <br><br>
            <div class="row" id="work">
                {% for listing in listings reversed %}
                <div class="col-md-3">
                    <div class="mb-3" id="card">
                        <div id="li">
                            <img src="{{listing.listing.display_picture.url}}" style="width : 300px; height : 200px; ">
                            <div class="card-body">
                                <p class="card-text">제목: {{listing.listing.name}}</p>
                                <p class="card-text">시작가: {{listing.listing.initial}}</p>
                                <p class="card-text">현재가: {{listing.highest_bid}}</p>
                                <p><small>deadline: {{listing.listing.time_ending}}</small> {% if user.is_authenticated %}
                                    <a href="{% url 'auction' listing.listing.id %}" class="btn btn-sm btn-secondary" style="font-size: 0.5vw;">응찰</a> {% else %}
                                    <a href="{% url 'login' %}" class="btn btn-sm btn-secondary" style="font-size: 0.5vw;">응찰</a> {% endif %}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</body>