{% extends "base.html" %}
{% load static %}

{% block title %}
auction
{% endblock title %}

{% block head %}
<style>
  .wrapper{
    background-color:rgb(42, 42, 42);
    color: white
  }

  .col-md-6{
    
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
{% endblock head %}

<body>
  {% block content %}
  <div class="wrapper">

    <main>
      <div class="container py-4">
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <img src="{{listings.display_picture.url}}"
                style="max-width: 100%; height: auto; display : block; margin : auto;">
            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 bg-dark border rounded-3">
              <h1 class="display-5 fw-bold">그림 제목 : {{listings.name}}</h1>
              <p class="col-md-8 fs-4">그림 설명: {{listings.explain}}</p>
              <p class="col-md-8 fs-4">초기 가격: {{listings.initial}}</p>
              <p class="col-md-8 fs-4">현재 가격: {{bid.highest_bid}}</p>
              <br>
              <br>


              <form class="login-form" action="{% url 'auctionArts' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text bg-warning">coin</div>
                  </div>
                  <input class="form-control" type="number" min="1" name="bid" value="{{ default_bid }}"
                    placeholder="Enter your coin here">
                </div>
                <input name="list_id" type="hidden" value="{{ listing.id }}" />
                <a href="{% url 'auctionArts' %}" class="btn btn-outline-secondary my-2" type="submit"
                  style="float: right;">입찰</a>

              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="container py-4 listing-comments">
      <h5>Comments </h5>
      <div class="comment-container">
        {% if comments %}
        {% for comment in comments %}
        <div class="card bg-light border-success" style="margin: 5px;">
          <div class="comment-owner">
            {{ comment.user }}
          </div>
          <span class="comment-content">
            {{ comment.comment }}
          </span>
          <span class="text-muted" style="text-align: right; margin-right: 5px;">
            {{ comment.added }}
          </span>
        </div>
        {% endfor %}
        {% else %}
        <span class="text-muted">
          No comments at the moment
        </span>
        {% endif %}
      </div>
      <hr>
      <form class="comment-form" action="{% url 'comment' %}" method="POST">
        Your Comment:
        {% csrf_token %}
        <textarea name="content" class="form-control" placeholder="enter your comment here" rows="3"
          maxlength="400"></textarea>
        <input name="list_id" type="hidden" value="{{ listings.id }}" />
        <br>
        <button class="btn btn-primary" type="submit" style="float: right;">Comment</button>
      </form>
    </div>

  </div>
  {% endblock content %}
</body>