{% extends "base.html" %}
{% load static %}

{% block title %}
crystalgallery
{% endblock title %}

{% block head %}
<link href="main.css" rel="stylesheet">
{% endblock head %}

<body>
  {% block content %}
  <div class="wrapper">

    {% block replace %}
    <CENTER>
      <div class="jumbotron">
        <h1 class="display-5">작품이 정상적으로 등록되었습니다.<br><br>작품명: {{ user_pr.name }}</h1>
        <br>
        <hr class="my-4">
        <img src="{{ user_pr.display_picture.url }}" class="image_responsive" height="60%" width="60%">

      </div>
      <br><br>
    </CENTER>
    {% endblock replace %}

  </div>
  {% endblock content %}
</body>