{% extends "base.html" %}
{% load static %}

{% block title %}
crystalgallery
{% endblock title %}

{% block head %}
<style>
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  .wrapper {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Krona One', sans-serif;
  }

  .carousel {
    max-width: max-content;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: grid;
  }

  .text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 4vw;
  }

  .btn {
    border-radius: 10rem;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
  }

  .featurette-heading {
    font-family: 'Krona One', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
  }

  .sub-text {
    font-size: 1.5rem;
    color: rgb(175, 175, 175);
    font-size: 1vw;
  }
  
  #popup_a:link, #popup_a:hover, #popup_a:visited, #popup_a:active {
    color: black;
  }

  #popup_layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /*팝업 박스*/
  .popup_box {
    position: relative;
    top: 50%;
    left: 50%;
    width: 550px;
    transform: translate(-50%, -50%);
    z-index: 1002;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  }

  /*컨텐츠 영역*/
  .popup_box .popup_cont {
    padding: 50px;
    line-height: 1.4rem;
    font-size: 14px;
    word-break: break-word;
  }

  .popup_box .popup_cont h2 {
    padding: 15px 0;
    color: rgb(0, 0, 0);
    margin: 0;
  }

  .popup_box .popup_cont p {
    border-top: 1px solid #666;
    padding-top: 30px;
    color: black;
  }

  /*버튼영역*/
  .popup_box .popup_btn {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 70px;
    background: #5d5d5d;
    word-break: break-word;
  }

  .popup_box .popup_btn a {
    position: relative;
    display: table-cell;
    height: 70px;
    color: #fff;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background: #ff0000;
  }

  .popup_box .popup_btn a:before {
    content: '';
    display: block;
    position: absolute;
    top: 26px;
    right: 29px;
    width: 1px;
    height: 21px;
    background: #fff;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .popup_box .popup_btn a:after {
    content: '';
    display: block;
    position: absolute;
    top: 26px;
    right: 29px;
    width: 1px;
    height: 21px;
    background: #fff;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .popup_box .popup_btn a.close_day {
    background: #5d5d5d;
  }

  .popup_box .popup_btn a.close_day:before,
  .popup_box .popup_btn a.close_day:after {
    display: none;
  }

  /*오버레이 뒷배경*/
  .popup_overlay {
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
  }

  #popup_a:link, #popup_a:hover, #popup_a:visited, #popup_a:active {
    color: black;
  }
</style>
<script>
  //닫기버튼 스크립트
  function closePop() {
    document.getElementById("popup_layer").style.display = "none";
  }
</script>
{% endblock head %}

<body>
  {% block content %}
  <div class="wrapper">
    <div id="popup_layer">
      <div class="popup_box">
        <!--팝업 컨텐츠 영역-->
        <div class="popup_cont" style="font-family: 'IBMPlexSansKR-Regular'; text-align:center">
          <h2>저작권 관련 공지</h2>
          <p>
            크리스탈 갤러리의 모든 자료 및 사진 이미지에 대한 저작권은<br>저작자에게 있으며, 저작 이미지의 사용 권한은 저작자에게 있습니다.<br>
            저작권에 위배되는 이미지 편집이나 무단 복제 및 무단 전재,<br>재배포시 사전 경고 없이 형사 고발 조치될 수 있습니다.<br><br>
            저희 크리스탈 갤러리는 CCL(Creative commons License)에 의거하여 <br>다음과 같은 6가지 라이선스를 지원합니다.<br>
            <a href="http://cckorea.org/xe/?mid=ccl" id ="popup_a">라이선스 확인하기</a>
          </p>
        </div>
        <!--팝업 버튼 영역-->
        <div class="popup_btn">
          <a href="javascript:closePop();">close</a>
        </div>
      </div>
    </div>

    <div class="carousel" data-bs-ride="carousel">
      <img src="{% static '투명ui.png' %}" class="d-block w-100" alt="...">
      <div class="text">
        <p>
          Welcome to
          <br> Crystal Gallery</p>
        <p style="font-size: 1.5vw;">Find Your<br>
          True Worth,<br>
          <a href="{% url 'about' %}" class="btn btn-outline-secondary">Here</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 " style="margin-top:7%;">
          <p class="featurette-heading">Auction System</p>
          <p><span class="sub-text">Start the auction with a welcome coin.<br>
              Coin allows you to participate in the auction or bid for a painting.<br>
              Your paintings can also be auctioned off with coins by others.</span></p>
          <p class="lead">
            <a href="{% url 'mypage' %}" class="btn btn-outline-secondary">My page</a>
          </p>
        </div>
        <div class="col-md-6">
          <img class="img-rectangle" src="{% static 'about-ui코인.png' %}" alt="작품사진" width="100%" height="auto;">
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img class="img-rectangle" src="{% static 'about-ui갤러리.png' %}" alt="작품사진" width="100%" height="auto;">
        </div>

        <div class="col-md-6" style="margin-top:7%;">
          <p class="featurette-heading">Create Own Gallery</p>
          <p><span class="sub-text">Exhibit your work in a gallery.<br>
              You can see at a glance what you are going to submit to the auction <br>
              and what you bid for at the auction.</span></p>
          <p class="lead">
            <a href="{% url 'mygallery' %}" class="btn btn-outline-secondary">My gallery</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6" style="margin-top:7%;">
          <p class="featurette-heading">Share Opinion </p>
          <p><span class="sub-text">Leave a comment at the bottom of the work. <br>
              You can freely exchange various stories about each other's works.
              <br> You will be able to develop your work by exchanging various opinions about it.</span></p>
          <p class="lead">
            <a href="{% url 'auctionArts' %}" class="btn btn-outline-secondary">Auction</a>
          </p>
        </div>
        <div class="col-md-6">
          <img class="img-rectangle" src="{% static 'about-ui코멘트.png' %}" alt="작품사진" width="100%" height="auto;">
        </div>
      </div>
    </div>

  </div>
  {% endblock content %}
</body>