{% extends "base.html" %}
{% load static %}

{% block title %}
crystalgallery
{% endblock title %}

{% block head %}
<link href="main.css" rel="stylesheet">

<style>
  .wrapper {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Krona One', sans-serif;
  }

  .carousel {
    max-width: max-content;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: grid;
  }

  .text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 4vw;


  }

  .btn {
    border-radius: 10rem;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 1vw;
  }

  .list {
    padding-top: 1rem;
    padding-bottom: 70px;
  }

  .list .container {
    max-width: 1300px;
    margin: auto;
  }

  .list .container .item_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  }

  .list .container .item_list .card {
    height: auto;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .list .container .item_list .card .img {
    height: 100px;
    width: 100px;
  }

  .list .container .item_list .card .text2 {
    font-size: 14px;
    opacity: .8;
  }
</style>
{% endblock head %}

<body>
  {% block content %}
  <div class="wrapper">
    <div class="carousel" data-bs-ride="carousel">
      <img src="{% static '투명ui.png' %}" class="d-block w-100" alt="...">
      <div class="text">
        <p>
          Welcome to
          <br> Crystal Gallery</p>
        <p style="font-size: 1vw;">find your<br>
          true worth,<br>
          <a href="{% url 'about' %}" class="btn">here</a></p>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-lg-4" style="text-align:center;">

          <img class="img-rectangle" src="{{top1.listing.display_picture.url}}" alt="작품사진" width="250" height="250">
          <h2>Top 1</h2>
          <p><a class="btn" href="{% url 'auction' top1.listing.id %}" role="button">View details</a></p>
        </div>

        <div class="col-lg-4" style="text-align:center;">
          <img class="img-rectangle" src="{{top2.listing.display_picture.url}}" alt="작품사진" width="250" height="250">
          <h2>Top 2</h2>

          <p><a class="btn" href="{% url 'auction' top2.listing.id %}" role="button">View details</a></p>
        </div>

        <div class="col-lg-4" style="text-align:center;">
          <img class="img-rectangle" src="{{top3.listing.display_picture.url}}" alt="작품사진" width="250" height="250">
          <h2>Top 3</h2>
          <p><a class="btn" href="{% url 'auction' top3.listing.id %}" role="button">View details</a></p>
        </div>
      </div>
    </div>
    <section class="list">
      <div class="container">
        <div class="title">
          <p>Auction List</p>
        </div>

        <div class="item_list">
          <div class="card">
            {% for listing in listing.all %}
            <img src="{{listing.display_picture.url}}" alt="">
          </div>
          <div class="text2">
            <h2>{{listing.name}}</h2>
            <p>{{bid.highest_bid}}</p>
          </div>
          {% endfor %}
        </div>
      </div>

    </section>


  </div>
  </div>
  {% endblock content %}
</body>