body {
  padding-bottom: 40px;
  color: #000000;
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

body > .container {
  padding: 100px 50px 100px 50px;    
}

code {
  font-size: 80%;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing .col-lg-4 p {
  margin-right: 30px;
  margin-left: 30px;
}