{% extends "base.html" %}
{% load static %}

{% block title %}
mygallery
{% endblock title %}

{% block head %}

<head>
  <style>
    .wrapper {
      background-color: rgb(0, 0, 0);
      color: white;
    }

    .py-5 {
      font-family: 'Krona One', sans-serif;

    }

    .btn {
      border-radius: 10rem;
      font-size: small;
    }

    .display-5 {
      font-size: x-large;
    }

    .album {
      text-align: left;
    }

    .profile {
      border-radius: 70%;
      width: auto;
      height: 30%;
      object-fit: cover;
      background-color: rgb(39, 39, 39);
    }

    .card-body {
      font-size: 1vw;
    }
  </style>
  {% endblock head %}
</head>

<body>
  {% block content %}
  <div class="wrapper">
    <main>
      <div class="container">
        <section class="py-5 text-center">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <p class="fw-light" style="font-size: x-large;">My Gallery</p>
              <img src="{%static '크갤로고투명.png'%}" alt="..." class="profile">
              <br><br>
              <p class="lead text-muted" style="font-size: small;">{{user.nickname}}/{{user.email}}
              </p>
              <p>
                <a href="{% url 'create' %}" class="btn btn-outline-secondary">Register</a>
              </p>
            </div>
          </div>
        </section>

        <section>
          <div class="row">
            <div class="col-md-6">
              <div class="h-100 bg-light border rounded-3">
                <div class="bg-light text-center text-muted overflow-hidden">
                  <div class="my-3 py-3">
                    <h3>내가 올린 작품</h3>
                    <br><br>

                    <div class="album">
                      <div class="container">
                        <div class="row row-cols-3 g-3">
                          {%if user.is_authenticated%}
                          {% for art in my_upload_arts %}
                          <div class="col-md-4">
                            <div class="card shadow-sm">
                              <img src="{{art.display_picture.url}}" alt="새로등록사진"
                                style="max-width: 200px; height: 120px;">
                              <div class="card-body">
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">작품 이름 : {{art.name}}</text>
                                <p class="card-text">작품 설명 : {{art.explain}}</p>
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                  onclick="location.href='{% url 'auction' art.id %}'">View</button>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="h-100 bg-dark border rounded-3">
                <div class="bg-dark text-center text-muted overflow-hidden">
                  <div class="my-3 py-3">
                    <h3 class="text-white">내가 낙찰한 작품</h3>
                    <br><br>

                    <!— * 백엔드 연결 부탁해요 * —>
                    <div class="album">
                      <div class="container">
                        <div class="row row-cols-3 g-3">
                          {%if user.is_authenticated%}
                          {% for art in my_upload_arts %}
                          <div class="col-md-4">
                            <div class="card shadow-sm">
                              <img src="{{art.display_picture.url}}" alt="새로등록사진"
                                style="max-width: 200px; height: 120px;">
                              <div class="card-body">
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">작품 이름 : {{art.name}}</text>
                                <p class="card-text">작품 설명 : {{art.explain}}</p>
                                <button type="button" class="btn btn-sm btn-outline-secondary"
                                  onclick="location.href='{% url 'auction' art.id %}'">View</button>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>
      </div>
    </main>
  </div>
  {% endblock content %}
</body>